<div data-ng-controller="categoryController">

    <!--<script type="text/ng-template" id="categoryTree">
        {{ category.category_name }}
        <ul ng-if="category.categories">
            <li data-ng-repeat="category in filtered = category.categories | filter:search.category_name" ng-include="'categoryTree'"></li>
        </ul>
    </script>
    <ul>
        <li data-ng-repeat="category in filtered = categories | filter:search.category_name" ng-include="'categoryTree'"></li>
    </ul>-->

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Category <span style="color: #909293; font-size: 12px;"> Manage category of articles</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="search-form">
                <div class="input-group">
                    <input type="text" data-ng-model="search.category_name" class="form-control input-sm" placeholder="Category name">
                    <div class="input-group-addon">
                        <i class="icon-magnifier"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form name="categoryForm" data-ng-submit="save()" novalidate="">
                <div class="panel panel-grey">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{panelTitle}} Category</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error': categoryForm.categoryName.$touched && categoryForm.categoryName.$invalid }">
                            <label>Name</label>
                            <input type="text" 
                                   id="categoryName"
                                   name="categoryName"
                                   data-ng-model="category.category_name"
                                   class="form-control"
                                   data-ng-maxlength="255" 
                                   ng-blur="categoryNameOnBlur()"
                                   required/>
                            <div class="help-block" ng-messages="categoryForm.categoryName.$error" ng-if="categoryForm.categoryName.$touched">
                                <p ng-message="required">Category name is required.</p>
                                <p ng-message="maxlength">Category name maximum length should be 255</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="color: #808080; font-size: 12px; font-weight: 600;">
                                Slug <i class="fa fa-question-circle"
                                        uib-tooltip="The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens"></i>
                            </label>
                            <input type="text" id="txtSlug" data-ng-model="category.category_slug" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Parent</label>
                            <select name="category"
                                    id="category"
                                    ng-model="category.category_parent"
                                    class="form-control input-sm"
                                    required>
                                
                                <option value="0" ng-selected="category_parent == 0">
                                    [ Parent ]
                                </option>
                                <option ng-repeat-start="category in categories"
                                        value="{{category.category_id}}"
                                        ng-selected="category_parent == category.category_id">
                                    {{category.category_name}}
                                </option>
                                <option ng-repeat-end
                                        ng-repeat="category in category.categories"
                                        value="{{category.category_id}}"
                                        ng-selected="category_parent == category.category_id">
                                    {{category.category_name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="categoryDescription" rows="6" data-ng-model="category.category_description" class="form-control"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="categoryActive" data-ng-model="category.category_active"> Active
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-ng-click="resetForm()">Cancel</button>
                        <button type="submit" class="btn btn-primary" value="Save"  ng-disabled="categoryForm.$invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-grey">
                <div class="panel-heading">
                    <h3 class="panel-title"> List Categories</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <a href ng-click="order('category_name')">Name</a>
                                <span class="sortorder" ng-show="predicate === 'category_name'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th>Slug</th>
                            <th style="text-align: center">Active</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat-start="category in filtered = categories | orderBy:predicate:reverse | filter:search.category_name | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <td>{{category.category_name}}</td>
                            <td>{{category.category_slug}}</td>
                            <td style="text-align: center">
                                <input type="checkbox" disabled="disabled" ng-model="category.category_active"/>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-xs" uib-tooltip="Edit" data-ng-click="getParentCategory(category)">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" uib-tooltip="Delete" data-ng-click="removeCategory(category)">
                                    <i class="icon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr data-ng-repeat-end
                            data-ng-repeat="category in filtered = category.categories | filter:search.category_name | filter:search.category_name">
                            <td>{{category.category_name}}</td>
                            <td>{{category.category_slug}}</td>
                            <td style="text-align: center">
                                <input type="checkbox" disabled="disabled" ng-model="category.category_active"/>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-xs" uib-tooltip="Edit" data-ng-click="getChildrenCategory(category)">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" uib-tooltip="Delete" data-ng-click="removeCategory(category)">
                                    <i class="icon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <div uib-pagination data-ng-model="currentPage" max-size="5" total-items="totalItems" items-per-page="entryLimit"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start flash message template-->
    <div flash-alert="success" active-class="in alert-flash" class="fade ">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <strong class="alert-heading">Success</strong>
        <span class="alert-message" ng-bind="flash.message"></span>
    </div>
    <div flash-alert="error" active-class="in alert-flash" class="fade ">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <strong class="alert-heading">Error</strong>
        <span class="alert-message" ng-bind="flash.message"></span>
    </div>
    <!-- End flash message template-->
</div>
