<div data-ng-controller="categoryController">

    <!--<script type="text/ng-template" id="categoryTree">
        {{ category.category_name }}
        <ul ng-if="category.categories">
            <li data-ng-repeat="category in category.categories" ng-include="'categoryTree'"></li>
        </ul>
    </script>
    <ul>
        <li data-ng-repeat="category in categories" ng-include="'categoryTree'"></li>
    </ul>-->

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Category <span style="color: #909293; font-size: 12px;"> Manage categories</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="search-form">
                <div class="input-group">
                    <input type="text" data-ng-model="search.category_name" class="form-control input-sm" placeholder="Category name">
                    <div class="input-group-addon">
                        <i class="icon-magnifier"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form name="categoryForm" data-ng-submit="save()" novalidate="">
                <div class="panel panel-grey">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Add Category</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error': categoryForm.categoryName.$touched && categoryForm.categoryName.$invalid }">
                            <label>Name</label>
                            <input type="text" id="categoryName" name="categoryName" data-ng-model="category.category_name" class="form-control" ng-blur="categoryNameOnBlur()"
                                   required />
                            <div class="help-block" ng-messages="categoryForm.categoryName.$error" ng-if="categoryForm.categoryName.$touched">
                                <p ng-message="required">Category name is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="color: #808080; font-size: 12px; font-weight: 600;">
                                Slug <i class="fa fa-question-circle"
                                        uib-tooltip="The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens"></i>
                            </label>
                            <input type="text" id="txtSlug" ng-model="category_slug" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Parent</label>
                            <select name="category"
                                    id="category"
                                    ng-model="category_parent"
                                    class="form-control input-sm"
                                    required>
                                <option value="0" ng-selected="category_parent == 0">
                                    [ Parent ]
                                </option>
                                <option ng-repeat-start="category in categories"
                                        value="{{category.category_id}}"
                                        ng-selected="category_parent == category.category_id">
                                    {{category.category_name}}
                                </option>
                                <option ng-repeat-end
                                        ng-repeat="children in category.categories"
                                        value="{{children.category_id}}"
                                        ng-selected="category_parent == children.category_id">
                                    {{children.category_name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="categoryDescription" rows="6" data-ng-model="category_description" class="form-control"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="categoryActive" data-ng-model="category.category_active"> Active
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" value="Save" ng-disabled="categoryForm.$invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-grey">
                <div class="panel-heading">
                    <h3 class="panel-title"> List Categories</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a href ng-click="order('category_name')">Name</a>
                                    <span class="sortorder" ng-show="predicate === 'category_name'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th>Slug</th>
                                <th style="text-align: center">Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat-start="category in filtered = categories | orderBy:predicate:reverse | filter:search">
                                <td>{{category.category_name}}</td>
                                <td>{{category.category_slug}}</td>
                                <td style="text-align: center">
                                    <input type="checkbox" disabled="disabled" ng-model="category.category_active" />
                                </td>
                                <td style="text-align: center"></td>
                            </tr>
                            <tr data-ng-repeat-end
                                data-ng-repeat="children in category.categories">
                                <td>{{children.category_name}}</td>
                                <td>{{children.category_slug}}</td>
                                <td style="text-align: center">
                                    <input type="checkbox" disabled="disabled" ng-model="children.category_active" />
                                </td>
                                <td style="text-align: center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>