<div data-ng-controller="userController">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">User <span style="font-size: 12px; color:#909293"> Manage users and permissions</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="open()"><i class="icon-plus"></i> ADD NEW USER</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <div class="search-form">
                <div class="input-group">
                    <input type="text" data-ng-model="search.user_username" class="form-control input-sm" placeholder="Username">
                    <div class="input-group-addon">
                        <i class="icon-magnifier"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-grey">
                <div class="panel-heading">
                    <h3 class="panel-title"> List Users</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="order('user_username')">Username</a>
                                    <span class="sortorder" ng-show="predicate === 'user_username'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th>
                                    <a href ng-click="order('user_displayname')">Name</a>
                                    <span class="sortorder" ng-show="predicate === 'user_displayname'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in filtered = users | filter:search | orderBy:predicate:reverse | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td><img data-ng-src="/uploads/avatars/{{user.user_avatar}}" class="img-circle"></td>
                                <td>{{user.user_username}}</td>
                                <td>{{user.user_displayname}}</td>
                                <td>
                                    <input type="checkbox" disabled="disabled" data-ng-model="user.user_active" />
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" uib-tooltip="Edit" data-ng-click="getUser(user)">
                                        <i class="icon-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-xs" uib-tooltip="Delete">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <div uib-pagination data-ng-model="currentPage" max-size="5" total-items="totalItems" items-per-page="entryLimit"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <script type="text/ng-template" id="userModal.html">
        <form name="userForm" data-ng-submit="save()" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">User</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img 
                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTMxMTkwN2M0MSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MzExOTA3YzQxIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                             ng-src="../../Uploads/avatars/{{user_avatar}}"
                             width="128" 
                             height="128" 
                             class="img-thumbnail img-rounded user-edit-dialog-profile-image">
                    </div>
                    <div class="col-md-8">
                        <div class="form-group" ng-class="{ 'has-error': userForm.userName.$touched && userForm.userName.$invalid }">
                            <label>Username</label>
                            <input type="text" 
                                   id="userName" 
                                   name="userName" 
                                   class="form-control"
                                   data-ng-model="user_username"
                                   ng-minlength="3"
                                   ng-maxlength="50"
                                   ng-pattern="/^[A-z][A-z0-9]*$/"
                                   required
                                   username-available>

                            <div class="help-block" ng-messages="userForm.userName.$error" ng-if="userForm.userName.$touched">
                                <p ng-message="minlength">Username is too short.</p>
                                <p ng-message="maxlength">Username is too long.</p>
                                <p ng-message="required">Username is required.</p>
                                <p ng-message="pattern">Must start with a letter, and contain letters &amp; numbers only.</p>
                                <p ng-message="unique">Username already in use.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$touched && userForm.email.$invalid}">
                            <label>Email address</label>
                            <input type="email"
                                   id="email"
                                   name="email"
                                   data-ng-model="user_email"
                                   class="form-control"
                                   required
                                   email-available>

                            <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                                <p ng-message="required">Email is required.</p>
                                <p ng-message="email">Enter a valid email.</p>
                                <p ng-message="unique">Email already in use.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': userForm.password.$touched && userForm.password.$invalid}">
                    <label for="password">Password</label>
                    <input class="form-control"
                           type="password"
                           name="password"
                           data-ng-model="user_password"
                           ng-minlength="6"
                           ng-maxlength="32"
                           required />
                    <div class="help-block" ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                        <p ng-message="required">Password is required.</p>
                        <p ng-message="minlength && maxlength">Passwords must be between 6 and 32 characters.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': userForm.passwordConfirmation.$touched && userForm.passwordConfirmation.$invalid}">
                    <label for="password">Confirm password</label>
                    <input class="form-control"
                           type="password"
                           name="passwordConfirmation"
                           data-ng-model="passwordConfirmation"
                           password-confirm match-target="user_password"
                           required />
                    <div class="help-block" ng-messages="userForm.passwordConfirmation.$error" ng-if="userForm.passwordConfirmation.$touched">
                        <p ng-message="required">Confirm password is required.</p>
                        <p ng-message="match">Confirm password do not match.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" id="firstname" data-ng-model="user_firstname" class="form-control">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" id="lastname" data-ng-model="user_lastname" class="form-control">
                </div>
                <div class="form-group">
                    <label>Avatar</label>
                    <input type="file" file-model="myFile" />
                </div>
                <div class="form-group">
                    <label>Display name</label>
                    <input type="text" id="displayname" data-ng-model="user_displayname" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="useractive" data-ng-model="user_active"> Active
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" value="Save" ng-disabled="userForm.$invalid">Save</button>
            </div>
        </form>
    </script>
    <!-- End Modal -->
</div>
