<div data-ng-controller="userController">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">User <span style="font-size: 12px; color:#909293"> Manage users and permissions</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="open()"><i class="icon-plus"></i> ADD NEW USER</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <div class="search-form">
                <div class="input-group">
                    <input type="text" data-ng-model="search.user_username" class="form-control input-sm" placeholder="Username">
                    <div class="input-group-addon">
                        <i class="icon-magnifier"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-grey">
                <div class="panel-heading">
                    <h3 class="panel-title"> List Users</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="order('user_username')">Username</a>
                                    <span class="sortorder" ng-show="predicate === 'user_username'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th>
                                    <a href ng-click="order('user_displayname')">Name</a>
                                    <span class="sortorder" ng-show="predicate === 'user_displayname'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in filtered = users | filter:search | orderBy:predicate:reverse | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td><img data-ng-src="/uploads/avatars/{{user.user_avatar}}" class="img-circle"></td>
                                <td>{{user.user_username}}</td>
                                <td>{{user.user_displayname}}</td>
                                <td>
                                    <input type="checkbox" disabled="disabled" data-ng-model="user.user_active" />
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" uib-tooltip="Edit">
                                        <i class="icon-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-xs" uib-tooltip="Delete">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <div uib-pagination data-ng-model="currentPage" max-size="5" total-items="totalItems" items-per-page="entryLimit"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <script type="text/ng-template" id="userModal.html">
        <form name="userForm" data-ng-submit="save()" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">User</h3>
            </div>
            <div class="modal-body">
                <div class="col-md-4">
                    <img src="http://khiem.demo.aspnetzero.com/Common/Images/default-profile-picture.png" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image">
                </div>
                <div class="col-md-8">
                    <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
                        <label>Username</label>
                        <input type="text" id="userName" name="userName" class="form-control" data-ng-model="user_username" ng-pattern="/^[A-z][A-z0-9]*$/" required>
                        <span class="help-block" ng-show="userForm.userName.$dirty && userForm.userName.$error.required">
                            User name is required.
                        </span>
                        <span class="help-block" ng-show="!userForm.userName.$error.minLength && !userForm.userName.$error.maxLength && userForm.userName.$error.pattern && userForm.userName.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label>Email address</label>
                        <input type="email" id="email" name="email" data-ng-model="user_email" class="form-control" required>
                        <span class="help-block" ng-show="userForm.email.$invalid && !userForm.email.$pristine">
                            Enter a valid email.
                        </span>
                    </div>
                </div>,
                <div class="col-md-12">

                    <div class="form-group" ng-class="{'has-error': !userForm.password.$valid && !userForm.password.$pristine}">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" minlength="6" ng-maxlength="32" required ng-model="user_password" />
                        <span class="help-block" ng-show="userForm.password.$error.required && userForm.password.$dirty">Password is required.</span>
                        <span class="help-block" ng-show="!userForm.password.$error.required && (userForm.password.$error.minlength || userForm.password.$error.maxlength) && userForm.password.$dirty">Passwords must be between 6 and 32 characters.</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': !userForm.passwordConfirmation.$valid && !userForm.passwordConfirmation.$pristine}">
                        <label for="passwordConfirmation">Confirm password</label>
                        <input class="form-control" type="password" name="passwordConfirmation" required ng-model="passwordConfirmation" password-confirm match-target="user_password" />
                        <span class="help-block" ng-show="userForm.passwordConfirmation.$error.required && userForm.passwordConfirmation.$dirty">Confirm password is required.</span>
                        <span class="help-block" ng-show="!userForm.passwordConfirmation.$error.required && userForm.passwordConfirmation.$dirty && userForm.passwordConfirmation.$error.match">Passwords do not match.</span>
                    </div>

                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" id="firstname" data-ng-model="user_firstname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" id="lastname" data-ng-model="user_lastname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Avatar</label>
                        <input type="file" file-model="myFile" />
                    </div>
                    <div class="form-group">
                        <label>Display name</label>
                        <input type="text" id="displayname" data-ng-model="user_displayname" class="form-control">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="useractive" data-ng-model="user_active"> Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" value="Save" ng-disabled="userForm.$invalid">Save</button>
            </div>
        </form>
    </script>

    <!-- End Modal -->
</div>
